<div *ngIf="isLoading; else divCargado">
    <h2 class="text-center">Cargando ... </h2>
  </div>
  <ng-template #divCargado>
    <div class="col-8">
      <div class="card-header bg-info">
      </div>
<div class="container-fluid">
    <h1 class="mb-3">
      Alumnos de comision 6
    </h1>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Alumno</th> 
          <th>Email</th>
          <th>Ultima Entrega</th>
        <th>Nota</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumnos of alumnos;let i =index">
          <td>{{alumnos.id}}</td>
          <td>{{alumnos.firstName}} {{alumnos.lastName}}</td>
          <td>{{alumnos.email}}</td>
          <td>{{ alumnos.fechaDeEntregable | date:'MMMM - dd'}}</td>
          <td>{{alumnos.promedio}}</td>
          <td
          class="text-center"
          [ngClass]="(alumnos.promedio && alumnos.promedio < 6) ? 'bg-danger' : 'bg-success'">
          {{ (alumnos.promedio && alumnos.promedio < 6) ? 'RINDE FINAL' : 'PROMOCIONA'}}
        </td>
        </tr>
      </tbody>
    </table>
  </div>