<div class="formcontainer">
    <div class="card">
        <div class="card-body">
        <p>Agregar Alumnos </p> 
<form class="nuevoForm"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  class="form"
  autocomplete="off"
>
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input
      type="text"
      id="nombre"
      formControlName="firstName"
      class="form-control"
      [ngClass]="{
        'is-invalid':
        registerForm.get('firstName')!.invalid &&
          (registerForm.get('firstName')!.dirty || registerForm.get('firstName')!.touched)
      }"
    />
    <div
      *ngIf="
      registerForm.get('firstName')!.invalid && (registerForm.get('firstName')!.dirty || registerForm.get('firstName')!.touched)
      "
      class="invalid-feedback"
    >
      <small *ngIf="registerForm.get('firstName')!.hasError('required')"
        >Este campo es obligatorio.</small
      >
      <small *ngIf="registerForm.get('firstName')!.hasError('minlength')"
        >el minimo de caracteres es 8.</small
      >
      <small *ngIf="registerForm.get('firstName')!.hasError('maxlength')"
        >el maximo de caracteres es 15</small
      >
    </div>
  </div>
  <div class="form-group">
    <label for="lasName">Apellido:</label>
    <input
      type="text"
      id="lastName"
      formControlName="lastName"
      class="form-control"
      [ngClass]="{
        'is-invalid':
        registerForm.get('lastName')!.invalid &&
          (registerForm.get('lastName')!.dirty || registerForm.get('lastName')!.touched)
      }"
    />
    <div
      *ngIf="
      registerForm.get('lastName')!.invalid &&
        (registerForm.get('lastName')!.dirty || registerForm.get('lastName')!.touched)
      "
      class="invalid-feedback"
    >
      <small *ngIf="registerForm.get('lastName')!.hasError('required')"
        >Este campo es obligatorio.</small
      >
      <small *ngIf="registerForm.get('lastName')!.hasError('minlength')"
        >el minimo de caracteres es 8</small
      >
      <small *ngIf="registerForm.get('lastName')!.hasError('maxlength')"
        >el maximo de caracteres es 15</small
      >
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="form-control"
      [ngClass]="{
        'is-invalid':
        registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)
      }"
    />
    <div
      *ngIf="
      registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty ||registerForm.get('email')!.touched)
      "
      class="invalid-feedback"
    >
      <small *ngIf="registerForm.get('email')!.hasError('required')"
        >Este campo es obligatorio.</small
      >
      <small *ngIf="registerForm.get('email')!.hasError('email')"
        >email no valido.</small
      >
    </div>
  </div>

  <div class="form-group">
    <label for="fechaDeEntregable">Fecha de ultima entrega:</label>
    <input
      type="fechaDeEntregable"
      id="fechaDeEntregable"
      formControlName="fechaDeEntregable"
      class="form-control"
      [ngClass]="{
        'is-invalid':
        registerForm.get('fechaDeEntregable')!.invalid && (registerForm.get('fechaDeEntregable')!.dirty || registerForm.get('fechaDeEntregable')!.touched)
      }"
    />
    <div
      *ngIf="
      registerForm.get('fechaDeEntregable')!.invalid && (registerForm.get('fechaDeEntregable')!.dirty ||registerForm.get('fechaDeEntregable')!.touched)
      "
      class="invalid-feedback"
    >
      <small *ngIf="registerForm.get('fechaDeEntregable')!.hasError('required')"
        >Este campo es obligatorio.</small
      >
      <small *ngIf="registerForm.get('fechaDeEntregable')!.hasError('email')"
        >la fecha ingresada no es valido.</small
      >
    </div>
  </div>
  <div class="form-group">
    <label for="promedio">Promedio:</label>
    <input
      type="promedio"
      id="promedio"
      formControlName="promedio"
      class="form-control"
      [ngClass]="{
        'is-invalid':
        registerForm.get('promedio')!.invalid && (registerForm.get('promedio')!.dirty || registerForm.get('promedio')!.touched)
      }"
    />
    <div
      *ngIf="
      registerForm.get('promedio')!.invalid && (registerForm.get('promedio')!.dirty ||registerForm.get('promedio')!.touched)
      "
      class="invalid-feedback"
    >
      <small *ngIf="registerForm.get('promedio')!.hasError('required')"
        >Este campo es obligatorio.</small
      >
      <small *ngIf="registerForm.get('promedio')!.hasError('email')"
        >El promedio debe ser entre 1 y 10.</small
      >
    </div>
  </div>
  <button
    class="btn btn-outline-secondary mt-2"
    (click)="closeForm()"
  >
    Cancelar
  </button>
  <button
    type="submit"
    class="btn btn-primary mt-2 float-end"
    [disabled]="registerForm.invalid"
  >
    Agregar Alumno
  </button>
</form>
</div>
</div>
</div>