<div class="row">
    <div class="col-8">
      <h1>Formulario</h1>
      <form
        #formularioRegistro="ngForm"
        autocomplete="off"
        class="row g-3"
        (ngSubmit)="onSubmit(formularioRegistro)"
      >
  
  
        <div class="col-md-6">
          <label for="inputFirstName" class="form-label">Nombre</label>
          <input
            #nombreControl="ngModel"
            name="nombre"
            [(ngModel)]="formularioRegistroModel.nombre"
            type="text"
            [class.is-invalid]="nombreControl.invalid && nombreControl.touched"
            class="form-control"
            id="inputFirstName"
            required
          >
          <div
            *ngIf="nombreControl.invalid && nombreControl.hasError('required')"
            class="invalid-feedback"
          >
            Este campo es requerido
          </div>
        </div>
  
  
  
  
  
        <div class="col-md-6">
          <label for="inputLastName" class="form-label">Apellido</label>
          <input
            name="apellido"
            [(ngModel)]="formularioRegistroModel.apellido"
            type="text"
            class="form-control"
            id="inputLastName"
          >
        </div>
  
  
  
  
  
  
        <div class="col-12">
          <label for="inputAddress" class="form-label">Dirección</label>
          <input
            name="direccion_1"
            [(ngModel)]="formularioRegistroModel.localizacion.direccion_1"
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="1234 Main St"
          >
        </div>
  
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Dirección 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Provincia</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>Buenos Aires</option>
            <option>San Juan</option>
            <option>Mendoza</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
    <div class="col-4">
      <h2>JSON</h2>
    </div>
  </div>